.nav{
    padding: 20px 10%;
    position: absolute;
    top: 0;
    right: 0;
}
.nav ul{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}
.nav ul button{
    background: #FF4D01;
    padding: 10px 20px;
}